<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	 <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.conwet.wirecloud.ide.category.wizards"
            name="Wirecloud Project">
      </category>
      <wizard
            category="com.conwet.wirecloud.ide.category.wizards"
            class="com.conwet.wirecloud.ide.wizards.WidgetProjectWizard"
            icon="icons/wc1.png"
            id="com.conwet.wirecloud.ide.wizard.new.widget"
            name="Widget Project"
            project="true">
      </wizard>
      <wizard
            category="com.conwet.wirecloud.ide.category.wizards"
            class="com.conwet.wirecloud.ide.wizards.OperatorProjectWizard"
            icon="icons/wc5.png"
            id="com.conwet.wirecloud.ide.wizard.new.operator"
            name="Operator Project"
            project="true">
      </wizard>

   </extension>
      <extension
         id="com.conwet.wirecloud.ide.ExternalWidgetProjectImportNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.conwet.wirecloud.ide.natures.WidgetProjectNature">
         </run>
      </runtime>
   </extension>

   <extension
         id="com.conwet.wirecloud.ide.WidgetProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.conwet.wirecloud.ide.natures.WidgetProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="com.conwet.wirecloud.ide.OperatorProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.conwet.wirecloud.ide.natures.OperatorProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.conwet.wirecloud.ide.category.wizards"
            name="Wirecloud Project">
      </category>
      <wizard
            category="com.conwet.wirecloud.ide.category.wizards"
            class="org.eclipse.ui.wizards.datatransfer.ZipFileExportWizard"
            icon="icons/wc2.png"
            id="com.conwet.wirecloud.ide.wizard.export.wirecloudProject"
            name="Export Wirecloud Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
   <category
            id="com.conwet.wirecloud.ide.category.wizards"
            name="WireCloud">
   </category>
      <wizard
            category="com.conwet.wirecloud.ide.category.wizards"
            class="com.conwet.wirecloud.ide.wizards.MashableApplicationComponentImportWizard"
            icon="icons/wc4.png"
            id="com.conwet.wirecloud.ide.wizard.import.wirecloudProject"
            name="Mashable Application Component">
      </wizard>

   </extension>

   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
     <runtimeType
       id="org.eclipsewtp.server.wirecloud.runtime.10"
       class="com.conwet.wirecloud.ide.ApplicationMashupServerRuntime"
       description="Wirecloud"
       name="Wirecloud"
       vendor="CoNWeTLab"
       vendorId="conwet"
       version="1.0">
     <moduleType types="com.conwet.applicationmashup.mac" versions="1.0"/>
    </runtimeType>
  </extension>


   <extension
         point="org.eclipse.wst.server.core.serverTypes">
    <serverType
     id="org.eclipsewtp.server.wirecloud.server"
     runtime="true"
     runtimeTypeId="org.eclipsewtp.server.wirecloud.runtime.10"
     name="Wirecloud"
     description="Wirecloud"
     class="com.conwet.wirecloud.ide.WirecloudServer"
     behaviourClass="com.conwet.wirecloud.ide.WirecloudServerBehaviour"

     hasConfiguration="false"
     initialState="stopped"
     launchConfigId="org.eclipse.jst.server.generic.core
                                      .ExternalLaunchConfigurationType"
     launchModes="run,debug"
     startBeforePublish="true"
     startTimeout="120000"
     stopTimeout="15000"
     supportsRemoteHosts="true"/>
  </extension>

	<extension
		point="org.eclipse.wst.server.core.moduleFactories">
		<moduleFactory
		class="com.conwet.wirecloud.ide.WirecloudModuleFactory"
		id="com.conwet.wirecloud.ide.ModuleFactory"
		projects="true">
		<moduleType
			types="com.conwet.applicationmashup.mac"
			versions="1.0">
		</moduleType>
		</moduleFactory>
	</extension>

	<extension point="org.eclipse.wst.server.core.moduleTypes">
		<moduleType
			id="com.conwet.applicationmashup.mac"
			name="Mashable Application Component"/>
	</extension>

	<extension
	  point="org.eclipse.wst.common.project.facet.core.runtimes">
	  <runtime-component-type id="org.eclipsewtp.server.wirecloud.runtime"/>
	  <runtime-component-version type="org.eclipsewtp.server.wirecloud.runtime" version="1.0"/>

	  <supported>
	    <runtime-component id="org.eclipsewtp.server.wirecloud.runtime" version="1.0"/>
	    <facet id="com.conwet.applicationmashup.mac" version="1.0"/>
	  </supported>


	</extension>

<extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
  <runtimeFacetMapping
     runtimeTypeId="org.eclipsewtp.server.wirecloud.runtime.10"
     runtime-component="org.eclipsewtp.server.wirecloud.runtime"
     version="1.0"/>
</extension>

<extension point="org.eclipse.wst.common.project.facet.core.facets">
    <project-facet id="com.conwet.applicationmashup.mac">
        <label>Mashable Application Component</label>
	    <description>Enables the project to be deployed as a Mashable Application Component.</description>
	  </project-facet>
	  <project-facet-version facet="com.conwet.applicationmashup.mac" version="1.0">

    <constraint>
        <requires facet="wst.jsdt.web"/>
    </constraint>

		<action type="INSTALL">
      		<delegate class="com.conwet.wirecloud.ide.MACFacetInstallDelegate"/>
    	 </action>
	  	 <action type="UNINSTALL">
      		<delegate class="com.conwet.wirecloud.ide.MACFacetUninstallDelegate"/>
    	 </action>
	  </project-facet-version>

	</extension>


<extension
   point="org.eclipse.wst.server.ui.wizardFragments">
  <fragment
     id="org.eclipse.jst.server.generic.runtime"
     typeIds="org.eclipsewtp.server.wirecloud.runtime.10"
     class="org.eclipse.jst.server.generic.ui.internal
                                 .GenericServerRuntimeWizardFragment"/>
  <fragment
     id="org.eclipse.jst.server.generic.server"
     typeIds="org.eclipsewtp.server.wirecloud.server"
     class="com.conwet.wirecloud.ide.wizards.WirecloudServerCreationWizard"/>
</extension>
<extension
   point="org.eclipse.wst.server.ui.serverImages">
  <image
   	id="org.eclipse.jst.server.generic.image"
    typeIds="com.conwet.applicationmashup.mac"
    icon="icons/web_module.gif"/>
  <image
     id="org.eclipse.jst.server.generic.image"
     icon="icons/wc1-mini.png"
     typeIds="org.eclipsewtp.server.wirecloud.runtime.10"/>
  <image
     id="org.eclipse.jst.server.generic.image"
     icon="icons/wc1-mini.png"
     typeIds="org.eclipsewtp.server.wirecloud.server"/>
</extension>

<extension
   point="org.eclipse.wst.common.project.facet.ui.images">
  <image
     runtime-component-type="org.eclipsewtp.server.wirecloud"
     path="icons/wc1-mini.png"/>
</extension>

<extension
        point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="default">
                <uri
                        name="http://wirecloud.conwet.fi.upm.es/ns/template#"
                        uri="platform:/plugin/com.conwet.wirecloud.eclipse.plugin/static/mashable_application_component_old.xsd" />
                <uri
                        name="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1"
                        uri="platform:/plugin/com.conwet.wirecloud.eclipse.plugin/static/mashable_application_component.xsd" />
        </catalogContribution>
</extension>

<extension point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
  <JsGlobalScopeContainerInitializer
     id="com.conwet.wirecloud.ide.mac_js_library"
     class="com.conwet.wirecloud.ide.MashableApplicationComponentLibraryInitilizer"/>
</extension>

</plugin>
