<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	 <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.conwetlab.wirecloud.sdk.category.wizards"
            name="Wirecloud Project">
      </category>
      <wizard
            category="com.conwetlab.wirecloud.sdk.category.wizards"
            class="com.conwetlab.wirecloud.sdk.wizards.WidgetProjectWizard"
            icon="icons/wc1.png"
            id="com.conwetlab.wirecloud.sdk.wizard.new.widget"
            name="Widget Project"
            project="true">
      </wizard>
      <wizard
            category="com.conwetlab.wirecloud.sdk.category.wizards"
            class="com.conwetlab.wirecloud.sdk.wizards.OperatorProjectWizard"
            icon="icons/wc5.png"
            id="com.conwetlab.wirecloud.sdk.wizard.new.operator"
            name="Operator Project"
            project="true">
      </wizard>
      <wizard
            category="com.conwetlab.wirecloud.sdk.category.wizards"
            class="com.conwetlab.wirecloud.sdk.wizards.JasmineUnitTestWizard"
            icon="icons/wc4.png"
            id="com.conwetlab.wirecloud.sdk.wizard.new.test"
            name="Jasmine Unit Test"
            project="true">
      </wizard>
   </extension>
   <extension
         id="com.conwetlab.wirecloud.sdk.WidgetProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.conwetlab.wirecloud.sdk.natures.WidgetProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="com.conwetlab.wirecloud.sdk.OperatorProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.conwetlab.wirecloud.sdk.natures.OperatorProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="com.conwetlab.wirecloud.sdk.JasmineProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.conwetlab.wirecloud.sdk.natures.JasmineProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.conwetlab.wirecloud.sdk.category.wizards"
            name="Wirecloud Project">
      </category>
      <wizard
            category="com.conwetlab.wirecloud.sdk.category.wizards"
            class="org.eclipse.ui.wizards.datatransfer.ZipFileExportWizard"
            icon="icons/wc2.png"
            id="com.conwetlab.wirecloud.sdk.wizard.export.wirecloudProject"
            name="Export Wirecloud Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.conwetlab.wirecloud.sdk.category.wizards"
            name="Wirecloud Project">
      </category>
      <wizard
            category="com.conwetlab.wirecloud.sdk.category.wizards"
            class="org.eclipse.ui.wizards.datatransfer.ZipFileImportWizard"
            icon="icons/wc4.png"
            id="com.conwetlab.wirecloud.sdk.wizard.import.wirecloudProject"
            name="Import Wirecloud Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart"
            contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            default="true"
            extensions="xml"
            id="com.conwetlab.wirecloud.sdk.editors.xmlEditor"
            name="Wirecloud XML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.conwetlab.wirecloud.sdk.properties.WirecloudPropertyPage"
            id="com.conwetlab.wirecloud.sdk.properties.WirecloudProperties"
            name="Wirecloud Preferences">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.conwetlab.wirecloud.sdk.categories.WirecloudDeploymentCategory"
            name="Wirecloud Deployment">
      </category>
      <command
            categoryId="com.conwetlab.wirecloud.sdk.categories.WirecloudDeploymentCategory"
            id="com.conwetlab.wirecloud.sdk.commands.WirecloudDeploymentCommand"
            name="Wirecloud Deployment Command">
      </command>
      <command
            categoryId="com.conwetlab.wirecloud.sdk.categories.WirecloudDeploymentCategory"
            id="com.conwetlab.wirecloud.sdk.commands.WirecloudRetreatCommand"
            name="Wirecloud Retreat Command">
      </command>

      <command 
      		categoryId="com.conwetlab.wirecloud.sdk.categories.WirecloudDeploymentCategory"
      		id="com.conwetlab.wirecloud.sdk.commands.ExplorerWidgetDeploy" 
      		name="Explorer Widget Deploy Command">
  	  </command>
      
  </extension>    

   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
     <runtimeType
       id="org.eclipsewtp.server.wirecloud.runtime.10"
       class="com.conwet.wirecloud.ApplicationMashupServerRuntime"
       description="Wirecloud"
       name="Wirecloud"
       vendor="CoNWeTLab"
       vendorId="conwet"
       version="1.0">
     <moduleType types="com.conwet.applicationmashup.mac" versions="1.0"/>
    </runtimeType>
  </extension>


   <extension
         point="org.eclipse.wst.server.core.serverTypes">
    <serverType
     id="org.eclipsewtp.server.wirecloud.server"
     runtime="true"
     runtimeTypeId="org.eclipsewtp.server.wirecloud.runtime.10"
     name="Wirecloud"
     description="Wirecloud"
     class="com.conwet.wirecloud.WirecloudServer"
     behaviourClass="com.conwet.wirecloud.WirecloudServerBehaviour"
     
     hasConfiguration="false"
     initialState="stopped"
     launchConfigId="org.eclipse.jst.server.generic.core
                                      .ExternalLaunchConfigurationType"
     launchModes="run,debug"
     startBeforePublish="true"
     startTimeout="120000"
     stopTimeout="15000"
     supportsRemoteHosts="true"/>
  </extension>
 
	<extension
		point="org.eclipse.wst.server.core.moduleFactories">
		<moduleFactory
		class="com.conwet.wirecloud.WirecloudModuleFactory"
		id="com.conwet.wirecloud.my.ModuleFactory"
		projects="true">
		<moduleType
			types="com.conwet.applicationmashup.mac"
			versions="1.0">
		</moduleType>
		</moduleFactory>
	</extension>

	<extension point="org.eclipse.wst.server.core.moduleTypes">
		<moduleType
			id="com.conwet.applicationmashup.mac" 
			name="Mashable Application Component"/>
	</extension>

	<extension 
	  point="org.eclipse.wst.common.project.facet.core.runtimes">
	  <runtime-component-type id="org.eclipsewtp.server.wirecloud.runtime"/>
	  <runtime-component-version type="org.eclipsewtp.server.wirecloud.runtime" version="1.0"/>
	  
	  <supported>
	    <runtime-component id="org.eclipsewtp.server.wirecloud.runtime" version="1.0"/>
	    <facet id="com.conwet.applicationmashup.mac" version="1.0"/>
	  </supported>
	   
	
	</extension>

<extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
  <runtimeFacetMapping
     runtimeTypeId="org.eclipsewtp.server.wirecloud.runtime.10"
     runtime-component="org.eclipsewtp.server.wirecloud.runtime"
     version="1.0"/>
</extension>

<extension point="org.eclipse.wst.common.project.facet.core.facets">
	  <project-facet id="com.conwet.applicationmashup.mac">
	    <label>Mashable Application Component</label>
	    <description>Enables the project to be deployed as a Mashable Application Component.</description>
	  </project-facet>
	  <project-facet-version facet="com.conwet.applicationmashup.mac" version="1.0">

		<action type="INSTALL">
      		<delegate class="com.conwet.wirecloud.MACFacetInstallDelegate"/>
    	 </action>
	  	 <action type="UNINSTALL">
      		<delegate class="com.conwet.wirecloud.MACFacetUninstallDelegate"/>
    	 </action>
	  </project-facet-version>

	</extension>


<extension
   point="org.eclipse.wst.server.ui.wizardFragments">
  <fragment
     id="org.eclipse.jst.server.generic.runtime"
     typeIds="org.eclipsewtp.server.wirecloud.runtime.10"
     class="org.eclipse.jst.server.generic.ui.internal
                                 .GenericServerRuntimeWizardFragment"/>
  <fragment
     id="org.eclipse.jst.server.generic.server"
     typeIds="org.eclipsewtp.server.wirecloud.server"
     class="com.conwet.wirecloud.wizards.WirecloudServerCreationWizard"/>
</extension>
<extension
   point="org.eclipse.wst.server.ui.serverImages">
  <image
   	id="org.eclipse.jst.server.generic.image"
    typeIds="com.conwet.applicationmashup.mac"
    icon="icons/web_module.gif"/>
  <image
     id="org.eclipse.jst.server.generic.image"
     icon="icons/wc1-mini.png"
     typeIds="org.eclipsewtp.server.wirecloud.runtime.10"/>
  <image
     id="org.eclipse.jst.server.generic.image"
     icon="icons/wc1-mini.png"
     typeIds="org.eclipsewtp.server.wirecloud.server"/>
</extension>

<extension
   point="org.eclipse.wst.common.project.facet.ui.images">
  <image
     runtime-component-type="org.eclipsewtp.server.wirecloud"
     path="icons/wc1-mini.png"/>
</extension>



</plugin>